body {
    color: #222;
    margin: 0;
    padding: 0;
    font: 16px/1.5 "Courier New", Arial, sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 600px;
}

.content {
    margin: 5px;
}

.bold-font {
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.button-primary {
    color: #fff;
    font-size: 30px;
    background-color: #007bff;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    line-height: 1.5;
    border-radius: 50px;
    outline: none;
}

.button-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.button-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.button-primary:disabled {
    opacity: .65;
}

.button-primary:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.word-box {
    font-size: 40px;
    height: 200px;
}


